next_color=1
viewer_size=128
viewer_text_overlay_position=3
use_background_color=false
network_type_0_interface_name=eth0
network_type_1_interface_name=eth1
network_type_2_interface_name=eth2
network_type_3_interface_name=ppp
network_type_4_interface_name=slip
network_type_5_interface_name=wlp4s0
network_type_6_interface_name=wlan1
network_type_7_interface_name=wlan2
viewer_text_overlay_enabled=true
viewer_text_overlay_format_string=%m
viewer_text_overlay_separator=\ 
viewer_text_overlay_color=-1

[1]
type=network_load
interface_type=5
interface_direction=2
max=232074
tag=
color=-33686017

[2]
type=network_load
interface_type=5
interface_direction=1
max=231841
tag=
color=-2050722305

