[colors]
bg = ${xrdb:background}
fg = ${xrdb:foreground}
text = ${xrdb:text}

;black
color0 = ${xrdb:color0}
color8 = ${xrdb:color8}
;red
color1 = ${xrdb:color1}
color9 = ${xrdb:color9}
;green
color2 = ${xrdb:color2}
color10 = ${xrdb:color10}
;yellow
color3 = ${xrdb:color3}
color11 = ${xrdb:color11}
;blue
color4 = ${xrdb:color4}
color12 = ${xrdb:color12}
;magenta
color5 = ${xrdb:color5}
color13 = ${xrdb:color13}
;cyan
color6 = ${xrdb:color6}
color14 = ${xrdb:color14}
;white
color7 = ${xrdb:color7}
color15 = ${xrdb:color15}

[global/wm]
margin-top = 0
margin-bottom = 0

[bar/main]
monitor = DP-2-1
monitor-fallback = eDP-1
height = 20
background = ${colors.bg}
foreground = ${colors.text}
tray-position = right
tray-background = ${colors.bg}
tray-padding = 4
tray-transparent = false
font-0 = NotoSans-Regular:size=10;2
font-1 = FontAwesome:size=10;2
modules-left = i3
modules-center = title
modules-right = network memory cpuload date menu-themes
module-margin = 4
scroll-up = i3wm-wsnext
scroll-down = i3wm-wsprev
border-top-size = 0
border-top-color = #00000000
border-right-size = 0
border-right-color = #00000000
border-left-size = 0
border-left-color = #00000000
border-bottom-color = #263238
border-bottom-size = 0
underline-size = 0

[bar/secondary]
monitor = DP-2-2
height = 20
background = ${colors.bg}
foreground = ${colors.text}
font-0 = NotoSans-Regular:size=10;2
font-1 = FontAwesome:size=10;2
modules-left = i3
modules-center = title
modules-right = date
module-margin-left = 4
module-margin-right = 4
scroll-up = i3wm-wsnext
scroll-down = i3wm-wsprev

[module/i3]
type = internal/i3
pin-workspaces = true
strip-wsnumbers = false
index-sort = false
enable-click = true
enable-scroll = true
wrapping-scroll = false
label-mode-padding = 3
label-mode-foreground = ${colors.text}
label-mode-background = ${colors.bg}
label-focused = %index%
label-focused-background = [0]000000
label-focused-foreground = ${colors.fg}
label-focused-padding = 3
label-unfocused = %index%
label-unfocused-padding = 3
label-visible = %index%
label-visible-background = [0]000000
label-visible-padding = 3
label-urgent = %index%
label-urgent-background = ${colors.color1}
label-urgent-padding = 3

[module/menu-themes]
type = custom/menu
expand-right = true
menu-0-0 = Yellow
menu-0-0-exec = ansible-playbook -v /home/ncc/documents/dotfiles/themes/set-theme.yml -e theme=green_sunlight_forest
menu-0-1 = Red
menu-0-1-exec = ansible-playbook -v /home/ncc/documents/dotfiles/themes/set-theme.yml -e theme=red_forest
label-open = %{F#fff}%{F-}
label-close = %{F#fff}x%{F-}
label-separator = |

[module/title]
type = internal/xwindow
format-background = [0]000000
format-foreground = ${colors.text}
format-padding = 4
label = %title:0:70:...%
label-maxlen = 100

[module/network]
type = internal/network
interface = wlp4s0
interval = 1.0
label-connected =  %upspeed:9:9:...%  %downspeed:9:9:...%
label-disconnected =

[module/memory]
type = internal/memory
interval = 2
format-prefix-foreground = ${colors.color7}
format-underline = ${colors.bg}
label = "%gb_used:9:9:...%"
spacing = 4

[module/cpuload]
type = custom/script
label = "%output%"
interval = 1
format-underline = ${colors.bg}
exec = ~/bin/polybar-cpu-load.sh

[module/date]
type = internal/date
interval = 1.0
date =  %m/%d/%Y
time = %I:%M
format = <label>
label = %time%    %date%
